* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobile-nav-visible {
  width: 100vw;
}

.mobile-nav-hidden {
  width: 0;
}

.App {
  display: grid;
  grid-template-rows: 150px 1fr 100px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
  grid-area: header;
  border: 1px solid red;
}

.main-wrapper {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 950px) minmax(
      1.2rem,
      1fr
    );
  min-height: 100vh;
  grid-area: main;
}

.main-content {
  grid-column: 2;
}

.header-nav {
  border-top: 1px solid orange;
  display: flex;
  justify-content: flex-end;
}

.desktop-menu ul {
  display: flex;
  align-items: center;
}

.desktop-menu li {
  padding: 5px;
  list-style: none;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid green;
}

.footer {
  grid-area: footer;
  border: 1px solid blue;
}

@media all and (max-width: 750px) {
  .desktop-menu {
    display: none;
  }
}
